:root {
  --base-font: 1rem; 
  --space: 1rem;
  --max-width: 1100px;
  --primary-color: #011627;
  --secondary-color: #6e8894;
  --accent-color: #e0fbfc;
}

html {
  font-size: 100%;
  font-family: 'Inconsolata', 'Permanent Marker', 'Rowdies', 'Arial';
  line-height: 1.45; 
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: var(--space);
  color: #222;
  background: #fff;
  word-spacing: 0.05em; 
  padding: 20px;
}
#navbutton {
  all: unset;
  cursor: pointer;
}

h1 {
  font-family: 'permanent marker';
  font-size: 2rem; 
  text-transform: uppercase;
}
p {
  font-family: 'Inconsolata';
  font-size: 1.3rem; 
  letter-spacing: 0.05em; 
  text-indent: 0.4em; 

}

p::first-letter {
  font-size: 2rem;
  color: var(--primary-color);
}

main {
  width: 100%;
  max-width: none;
  border-style: double;
  padding-bottom: 30px;
}

.borderbottom {
  border-bottom: 40px var(--primary-color) solid;
  box-shadow: 0 8px 10px -5px var(--secondary-color);
}

nav > a {
  margin-right: 5px; 
}
a:active {
  text-shadow: 2px 8px 2px var(--secondary-color);
}


header {
  display: flex;
  align-items: center;
  gap: var(--space);
  justify-content: space-between;
  margin-bottom: calc(var(--space) * 1.2);
  background-color: #f1f1f1;
  padding: 10px;
  padding-right: 50px;
  border-radius: 50px;
  box-shadow: 10px 5px 10px var(--secondary-color);
}

header a {
  text-decoration: none;
  color: black;
  font-family: 'Rowdies';
  font-size: 2rem;
  padding-right: 15px;
  transition: 0.3s ease;

}

header a:hover{
  color: var(--accent-color);
  -webkit-text-stroke: 2px black;
}
.menubutton {
  width: 40px;
  display: flex;
  align-items: center;
  float: right;
  cursor: pointer;
  transition: 0.3s ease;
}
.menubutton:hover {
    transform: scale(1.3);
}
.homepagebuttons{
  all: unset;
  font-family: 'rowdies';
  color: white;
  font-size: 1.5rem;
  background-color: var(--primary-color);
  cursor: pointer;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 10px 5px 10px var(--secondary-color);
  transition: 0.3s ease-in-out;
}
.homepagebuttons:hover{
  background-color: var(--secondary-color);
  transform: scale(1.1);
  box-shadow: none;
}
.menu {
  display: none;
  list-style-type: none;  
}

.menu.visible {
  background-color: rgb(240, 240, 240);
  border-radius: 20px;
  padding: 20px;
  display: block;
  list-style-type: none;
  position: absolute;
  z-index: 2;   
  right: 25px;
}

.menu a {
  text-decoration: none;
  color: black;
  font-family: 'Rowdies';
  font-size: 2rem;
  padding-right: 15px;
  transition: 0.3s ease;  

}

.menu a:hover{
  color: var(--accent-color);
  -webkit-text-stroke: 2px black;
}
#menu2 {
  left: 25px;
  right: auto;
}

.logo {
  width: 150px;

}
.logoP {
  width: 100px;
  border-radius: 20px;
  border: 2px var(--primary-color) solid;
  display: flex;
  align-items: center;
  float: right;
  cursor: pointer;
  transition: 0.3s ease;
}
.logoP:hover {
    transform: scale(1.1);
}

.images {
  width: 350px;
  padding: 20px;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  text-align: center;
  width: 100%;
}
#Sline {
  position: relative;
}

#Sline::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1%;
  height: 100%;
  background-color: var(--secondary-color);
  transform: translateY(-50%);
  z-index: 0;
}

article{
  text-align: left;
  width: 80%;
  min-height: 400px;

}


footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--secondary-color);
  padding: 10px;
  margin-top: 40px;
  font-family: 'Rowdies';
  font-size: 2rem;
  border-bottom: var(--accent-color) 35px solid;

}

.contactfooter  {
  background-color: var(--secondary-color);
  text-decoration: none;
  color: black;
  font-family: 'Rowdies';
  font-size: 2rem;
  padding-right: 15px;
  transition: 0.3s ease;
  cursor: pointer;
}

.contactfooter:hover{
  color: var(--accent-color);
  -webkit-text-stroke: 2px black;
}

@media (min-width: 768px) {
   
  #hd {
    display: none;
  }


}

@media (max-width: 768px) {
   
  #hp {
    display: none;
  }
  body {

    padding: 0px;
  }
  #Sline:before {
    width: 0;

  }
  header {
    background-color: var(--secondary-color);
    border-radius: 0px;
    border-bottom: 5px var(--primary-color) solid;
    box-shadow: 0px 0px 0px;
    padding-right: 20px;

  }
  main {
    border-style: none;

  }
  section {
    grid-template-columns: 1fr;

  }
  header a {
    padding-right: 0px;

  }
  footer {

    justify-content: center;
  }
  .menu.visible {
    right: 20px;
    left: 20px;
    justify-content: center;
    text-align: center;
  }

  .menu.visible a {
    font-size: 4vw;

  }

}

/* DIT IS VOOR HET TABEL WAT ER BIJ INGELEVERD MOEST WORDEN EN HOORT NIET BIJ DE WEBSITE (bestand tabel.html) >>>> */
table{
   margin: 0 auto;
  justify-content: center;
  margin-top: 25px;
  border-style: double;
  width: 60%;
  padding: 20px;
}

thead, tbody {
  text-align: center;
}
table th {
  border-style: double;

}
table tr:nth-child(even) {
  background-color: #CFF;
}
table tr:nth-child(odd) {
  background-color: #FFF;
}

